button {
  border-radius: 20px;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-transition: transform 80ms ease-in;
  -moz-transition: transform 80ms ease-in;
  -ms-transition: transform 80ms ease-in;
  -o-transition: transform 80ms ease-in;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}
button:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

button:focus {
  outline: none;
}
